{% extends 'base.html' %} {% load static %} {% block content %} {% load widget_tweaks %}

  <div class="edit-profile-app-container">
    <div class="show active">
      <div class="border rounded main-div-pass">
        <div class="update-cr-acc">
            <h3>Change Password</h3>
        </div>
        <div>
            <p style="justify-content: center; display: flex;">Change your password regularly to keep your account secure</p>
        </div>
        <div class="update-cr-acc">
          <hr class="edit-profile-hr">
        </div>

        {% if messages %}
        {% for message in messages %}  
          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="message-div-pass-change">
            <div id="message_container" class="alert alert-warning display-flex div-for-change-pass-alert" role="alert">
              <div>
                  {{message}}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if messages %}
      {% for message in messages %}  
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="message-div-pass-change">
          <div id="message_container" class="alert alert-success display-flex div-for-change-pass-alert" role="alert">
            <div>
                {{message}}
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
        <div class="edit-profile-containers-father">
          <div class="row align-self-end justify-content-md-center">
            <div class="col">
              <!-- START [EDIT FORM} -->
              <form action="{% url 'account:changepassword' %}" method="POST">
                {% csrf_token %}
                <div class="container">
                            <div class="edit-profile-container">
                              <div class="form-div-container-2">
                                <label class="label label-padding-2">Current Password</label>
                                {% render_field reset_form.current_password class="form-control form-control-edit" %}
                              </div>
                              <div class="form-div-container-2">
                                <label class="label label-padding-2">New Password</label>
                                {% render_field reset_form.new_password class="form-control form-control-edit" %}
                              </div>
                              <div class="form-div-container-2">
                                <label class="label label-padding-2">Repeat New Password</label>
                                {% render_field reset_form.repeat_password class="form-control form-control-edit" %}
                              </div>
                            </div>
                </div>
                <!-- START [SAVE BUTTON} -->
                <div class="edit-profile-save-btn">
                  <button type="submit" class="btn-save">Save</button>
                </div>
              <!-- END [SAVE BUTTON} -->
              </form>
              <!-- END [EDIT FORM} -->
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}